
section {
	display:table-cell; vertical-align: middle;
}

html, body {
	background-color: white;
	padding: 0;
	margin: 0;
	height: 100%;
}

.container {
	height:100%;
  display:table;
  padding: 0;
}