<!--Dump Ressource -->
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Host</th>
				<th>Port</th>
				<th>Nom BD</th>
				<th>Utilisateur</th>
				<th>Mot de passe</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pagedItems">
				<td>{{item.id}}</td>
				<td>{{item.host}}</td>
				<td>{{item.port}}</td>
				<td>{{item.database}}</td>
				<td>{{item.user}}</td>
				<td>{{item.password}}</td>
			</tr>
		</tbody>
		<tfoot>
			<td colspan="3">
				<nav >
					<ul class="pagination">
						<li ng-class="prevPageDisabled()"><a href
							ng-click="prevPage()">« Prev</a></li>
						<li ng-repeat="n in range()" ng-class="{active: n == currentPage}"
							ng-click="setPage(n)"><a href="#">{{n+1}}</a></li>
						<li ng-class="nextPageDisabled()"><a href
							ng-click="nextPage()">Next »</a></li>
					</ul>
				</nav>
			</td>
		</tfoot>
	</table>
</div>